aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
docopt==0.6.2
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
openai==0.28.0
pipreqs==0.4.13
pyaskit==1.0.0
requests==2.31.0
timeout-decorator==0.5.0
tqdm==4.66.1
Unidecode==1.3.6
urllib3==2.0.4
yarg==0.1.9
yarl==1.9.2
